* {
  box-sizing: border-box;
}

$FontFace: "Poppins", "Roboto", "Noto Sans KR", sans-serif;
$greyColor: #f2f2f2;
$deepGreyColor: #d4d4d4;
$darkGreyColor: #323237;
$borderLine: 4px solid black;
$borderThinBlack: 1px solid black;
$greyColor: #f2f2f2;
$darkGreyColor: #323237;
$whiteBG: #fff;
